<div class="circle-btn-left" ui-sref="intro.part2">
  <i class="fa fa-angle-left"></i>
</div>

     <h2 >Data Binding [ng-model]</h2>

     <div class="pure-g">

         <div class="pure-u-1-2">
             <input type="text"ng-model="name">
             <button ng-click="name = name + ' knows nothing! '"> ? </button>
         </div>

         <div class="pure-u-1-2">
             <code> name = " {{ name }} "</code>
         </div>
     </div>


<div class="circle-btn-right" ui-sref="intro.repeat">
 <i class="fa fa-angle-right"></i>
</div>
