<div class="pure-g">
    <div class="pure-u-1-3">
        <h6>Declare directives by:</h6>

<pre class="center-txt">
< directive >            //Element
< div directive>         //Atribute
< div class="directive"> //Class
</pre>
    </div>
    <div class="pure-u-2-3">
    <h6>Directive Structure</h6>
        <pre>
            angular
                .module(app_name)
                .directive(directive_name, directive_name);

            directive_name.$inject = [dependencies];

            function directive_name(dependencies) {
                return {
                    controller: 'nameCtrl'
                    require: '^', //requires other directives Ctrl
                    scope: false, //default receives sames scope as its parent
                    scope: true, //creates own scope has access to parent
                    scope : {     //Isolate scope
                        two-way: '=',
                        meth-bind: '&',
                        read-only: '@'
                    }
                    link: function(scope, element, attr, ctrl) {

                    }
                }

            }
        </pre>
    </div>
</div>


<div class="circle-btn-right" ui-sref="directives.isolate_scope">
  <i class="fa fa-angle-right"></i>
</div>
