<section class="welcome">
    <div class="welcome--text pure-g">
        <h2 class="pure-u-1-1 center-txt">Angular 101 Workshop</h2>
    </div>
    <div class="pure-g welcome--subjects">
        <div class="pure-u-1-2">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">Modules</li>
                <li class="pure-menu-item">Routing</li>
                <li class="pure-menu-item">Controllers</li>
                <li class="pure-menu-item">Services</li>
            </ul>
        </div>
        <div class="pure-u-1-2">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">Form Validation</li>
                <li class="pure-menu-item">Directives</li>
                <li class="pure-menu-item">Angular Good Practices</li>
                <li class="pure-menu-item">?</li>
            </ul>
        </div>
    </div>
</section>
