
<h2 class="center-txt">What is Angular?</h2>
<div class="next-slide">
  <p class="center-txt">Angular is a framework for client-side web applications.</p>
  <p class="center-txt">Angular Key features:</p>

  <div class=" pure-g welcome--subjects">
    <div class="pure-u-1-2">
      <ul class="pure-menu-list ">
        <li class="pure-menu-item">Organization & Structuring</li>
        <li class="pure-menu-item">Architetural Patterns(MVC, SPA, DI)</li>
        <li class="pure-menu-item">Modularity</li>

      </ul>
    </div>
    <div class="pure-u-1-2">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">Two way data binding</li>
        <li class="pure-menu-item">Extends HTML vocabulary to create widgets(directives)</li>
        <li class="pure-menu-item">Testing</li>
      </ul>
    </div>
  </div>

</div>


<div class="circle-btn-right" ui-sref="intro.part2">
  <i class="fa fa-angle-right"></i>
</div>
