<div class="circle-btn-left" ui-sref="intro.part1">
  <i class="fa fa-angle-left"></i>
</div>

<h2 class="center-txt">ARCHITECTURE</h2>
<div class=" pure-g welcome--subjects">
  <div class="pure-u-1-2">
    <ul class="pure-menu-list ">
      <li class="pure-menu-item">User interacts with the view changes.</li>
      <li class="pure-menu-item">Controller Manipulates model, interacts with  the server.</li>
      <li class="pure-menu-item">AngularJS detects changes and updates the view.</li>

    </ul>
  </div>
  <div class="pure-u-1-2">
    <img src="assets/images/archi.png" alt="" width="450" >
  </div>
</div>
<div class="circle-btn-right" ui-sref="intro.part3">
  <i class="fa fa-angle-right"></i>
</div>
